<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
     }
     </style>
</head>
<body>
    <nav class="navbar navbar-light bg-dark">
        <span style="color: white;" class="navbar-brand mb-0 h1">LOGIN</span>
      </nav><br><br>
      <div class="container" style="text-align: center; border-style: solid; width: 500px; height: 330px;">
        <br><br><br>
        <form class="flex1" method="post" action="{% url 'home:login' %}">
            {% csrf_token %}
            <div class="wrap-input100 validate-input m-b-23" data-validate = "Username is required">
                <span class="label-input100">Phone Num</span>
                <input  type="number" name="phone" placeholder="Type your phone number">
            </div>
            <br>
            <div class="wrap-input100 validate-input" data-validate="Password is required">
                <span >Password</span>
                <input  type="password" name="pass" placeholder="Type your password">
            </div>
            <br>
            <button class="btn btn-primary" type="submit">Login</button>
        </form><br>{%if error%}<span style="color: red;">{{error}}</span>{%endif%}<br>
        <div class="text-center p-t-8 p-b-31">
            <a href="{% url 'home:register_admin' %}">
                Register Admin
            </a>|
            <a href="{% url 'home:register_student' %}">
                Register student
            </a>
            
      </div>
      
        
        <div class="footer">
            @copyright 2021
        </div>
        
</body>
</html>

